server {
    listen 80;
    server_name www.aivantsov.com;
    rewrite ^(.*) http://aivantsov.com$1 permanent;
}

server {
    listen 80;
    server_name aivantsov.com;

    access_log /var/projects/blog/logs/nginx/access.log;
    error_log /var/projects/blog/logs/nginx/error.log;

    location / {
        proxy_pass http://0.0.0.0:2368;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}
